*.aux
*.log
*.synctex.gz
*.thm
*.bbl
*.blg
*.out
*.drv
*.std
*.fdb_latexmk
*.fls
notes/math/probability-theory-reference/probability-theory-reference.pdf
notes/ml/score-based-generative-models/score-based-generative-models.pdf