*.aux
*.log
*.synctex.gz
*.thm
*.bbl
*.blg
*.out
*.drv
*.std
*.fdb_latexmk
*.fls
notes/scicomp/mcmc-primer/mcmc-primer.pdf
notes/math/sde-primer/sde-primer.pdf
notes/math/probability-theory-reference/probability-theory-reference.pdf